<footer class="foot">
    <div class="foot-head">
        <h3>Made With <span class="heart"> ❤ </span> in India</h3>
        <h3 class="foot-copy">© Copyright 2014 - <span id="year"></span> All rights reserved. <a
                href="https://tejasrana.in" class="heart">Tejas
            Rana</a></h3>
    </div>
    <div class="foot-social">
        <div class="foot-social-head">
            <h3>Follow me @</h3>
        </div>
        <div class="foot-social-links">
            <a href="https://www.facebook.com/tony.3898" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://linkedin.com/in/tejas-rana-668595128/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/TejasRa73025038" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://github.com/Tony3898" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>

</footer>
<script src="/public/assets/js/nav.js"></script>
<script>
    $("#year").text(new Date().getFullYear())
</script>

<script src="https://kit.fontawesome.com/032c46d3c1.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>